EventExperiment/bin/
EventExperiment/obj/
EventExperiment-Services/EventExperimentServices/bin/
EventExperiment-Services/EventExperimentServices/obj/
EventExperiment-EasyHub/EventExperiment-EasyHub/bin/
EventExperiment-EasyHub/EventExperiment-EasyHub/obj/
